/* body {

    background: url(Images/Background.JPG) no-repeat top center;
    background-size: 100% 110%;
} */

header {
    background: none;
}

.nav .name {
    font-size: 2rem;
}

.video-container {
    /* position: absolute; */
    /* top: 0;
    left: 0; 
    width: max-content; */
    top: 0;
    left: 0;
    position: fixed;
    /* height: 116%;
    width: 100%; */
    z-index: -1;
    width: 70%;
    height: 100vh;
    
}

.main-nav {
    z-index: 1;
}

@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    #videoBG {
        width: auto;
        height: 100%;
    }
}

/* @media (min-width: 768px) {
    .video-container {
        position: fixed;
        height: 116%;
        width: 100%;
        z-index: -1;
    }
    
    

}

/* @media screen and (min-width: 720px)*/ @media (min-width: 1024px)  {
    .video-container {
        position: fixed;
        height: 116%;
        width: 100%;
        z-index: -1;
        
    }

} */
