/* Global Layout Set-up */
* { 
    box-sizing: border-box;
}

  body {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      background: #f7f5f0;
      color: #222;
  }
 
.main-nav {
    width: 100%;
    position: fixed;
    background: black;
    text-align: center;
    padding: 10px;
    margin-top: 0%;
    text-align: center;
}

.nav {
    display: flex;
    font-weight: 700;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    justify-content: space-around;    
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}

.nav li {
    padding: 5px 35px 10px 10px;
}

.nav a {
    transition: all .5s;
}

.nav a:hover {
    color: white;
}

header {
    text-align: center;
    background: url(Images/Background.JPG) no-repeat top center;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
    line-height: 1.5;
}

header .profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: 5px solid rgba(8, 36, 68, 0.514); */
    transition: all .5s;
}

header .profile-image:hover {
    transform: scale(1.2) rotate(360deg);
}

.pin-icon {
    width: 23px;
    height: 23px;
    margin-left: 5px;
    margin-right: 5px;
}

.tag {
    background: rgba(8, 36, 68, 0.514);
    color: darkgray;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
}

a {
    text-decoration: none;
    color: silver;
}

a:visited {
    color: royalblue;
}

a:hover {
    color: #0399ff;
}

a:active {
    color: silver;
}

.card {
    justify-content:space-evenly;
    margin: 30px;
    padding: 20px 40px 40px;    
    text-align: left;
    background: #fff;
    border-bottom: 4px solid #ccc;
    border-radius: 6px;
    transition: all .5s;
    
}

.card:hover {
    border-color: royalblue;
}

.clearfix {
    clear: both;
}


ul.skills {
    padding: 0;
    text-align: center;
}

.skills li {
    border-radius: 6px;
    display: inline-block;
    background: silver;
    color: white;
    padding: 5px 10px;
    margin: 2px;
}

.skills li:nth-child(odd) {
    background: #0399ff;
}



a {
    text-decoration: none;
    color: #999;
  }

main div {
    padding-top: 10%;
}


.final {
    transition: all .8s;
    margin: 25px auto;
    display: table;
}

.final:hover {
    transform: rotate(360deg);
}


a.social {
    display: inline-block;
    text-indent: -9999px;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    opacity: .4;
    transition: all .5s;
  }

a.twitter {
    background-image: url(Images/twitter.svg);
}

a.linkedin {
    background-image: url(Images/linkedin.svg);

}

a.github {
    background-image: url(Images/github.svg);
}

a.gmail {
    background-image: url(Images/gmail.svg);
}

a.social:hover {
    opacity: 1;
}

footer {
    min-height: 30px;
    padding: 20px 0 40px 20px;
    display: inline-block;
    font-family: 'Lustria', serif;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline-block;
}

footer .copyright {
      top: -8px;
      font-size: .75em;
  }

  @media (min-width: 768px) {

    .flex {
        display: flex;
        max-width: 1200px;
        justify-content:space-evenly;
        margin: 0 auto;
    }

    .card {
        max-width: 500px;
    }


  }



  /* @media screen and (min-width: 720px)*/ @media (min-width: 1024px)  {

    .flex {
        display: flex;
        max-width: 1200px;
        justify-content: space-around;
        margin: 0 auto;
    }

    .card {
        max-width: 500px;
    }

    header {
        min-height: 470px;
    }

    .nav {
        max-width: 1200px;
        padding: 0 30px;
    }

    main {
        padding-top: 20px;
    }

    main p {
        line-height: 1.6em;
    }

    footer {
        font-size: 1.3em;
        max-width: 1200px;
        margin: -40px auto;
    }
  }